:root {
  --margin-28: 28px;
  --margin-48: 48px;
  --padding-5: 5px;
  --padding-10: 10px;
  --padding-20: 20px;
  --padding-40: 40px;
  --font-18: 18px;
  --font-20: 20px;
  --font:'Nunito', sans-serif;
  --demi-bold: 600;
  --bold: 700;

  --dark-red: #cc0000;
  --light-grey: #f3f3f3;
  --purple: #5e6ec9;
  --dark-blue: rgb(17, 97, 201);
  --grey: #c5c5c5;
  --black: #111111;
  --white: #ffffff;
}

.header { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  width: 100%;
  height: 60px;
}

.nav__button {
  border: none;
  color: var(--white);
  font-weight: var(--demi-bold);
  font-size: var(--font-20);
  background: transparent;
  cursor: pointer;
  margin-right: var(--margin-48);
}

.title {
  text-align: center;
  margin-top: var(--margin-28);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow:  2px 4px 4px var(--grey);
  margin: var(--margin-28);
}

.product__img {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  border-radius: 20px 20px 14px 14px;
}

.product__name, .item__name {
  font-weight: var(--bold);
  font-size: var(--font-20);
  margin-top: var(--margin-28);
}

.product__description {
  margin: calc(var(--margin-28)*0.3);
}

.button {
  height: 40px;
  width: 170px;
  border-radius: 20px;
  padding: var(--padding-10);
  border: none;
  color: var(--white);
  font-weight: var(--bold);
  cursor: pointer;
}

.button--add, .button--checkout{
  background-color: var(--dark-blue);
  margin-bottom: var(--margin-28);
}

.button--remove {
  border: solid 2px var(--dark-red);
  background:transparent;
  color: var(--black);
  padding: 0 var(--padding-5);
}

.button--remove:hover {
  background-color: var(--dark-red);
  color: var(--white);
}

.button--checkout:hover {
  background-color: var(--purple);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart {
  padding: var(--padding-20);
}

.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 60px;
}
